@page "/login"
@using FMSEvalueringUI.Services
@inject IAuthService _authService

<h3>Login</h3>

<EditForm Model="LoginDto" OnSubmit="Login12" id="LoginForm" FormName="LoginForm">
    <InputText @bind-Value="LoginDto.Email" type="email" placeholder="Email"></InputText>
    <InputText @bind-Value="LoginDto.Password" type="password" placeholder="Password"></InputText>
    <button type="submit">Login</button>
</EditForm>

<div>
    Test token: @Token
</div>


@code {
    [SupplyParameterFromForm]
    private LoginDto LoginDto { get; set; } = new LoginDto();

    private string? Token { get; set; }

    public async Task Login12()
    {
        if (LoginDto is not null)
        {
            try
            {
                await _authService.LoginAsync(LoginDto);
                var test = await _authService.GetJwtTokenAsync();
                Token = test;
            }
            catch (Exception e)
            {
                Console.WriteLine(e);
                throw;
            }
            //Token = tokenResponse?.Token ?? "Invalid response.";
        }
        else
        {
            //Token = "Form data is null.";
        }
    }

}