@page "/login"
@using FMSEvalueringUI.ExternalServices.Interfaces
@inject IDataServerProxy _dataServerProxy

<h3>Login</h3>

<EditForm Model="LoginDto" OnSubmit="Login12" id="LoginForm" FormName="LoginForm">
    <InputText @bind-Value="LoginDto.Email" type="email" placeholder="Email"></InputText>
    <InputText @bind-Value="LoginDto.Password" type="password" placeholder="Password"></InputText>
    <button type="submit">Login</button>
</EditForm>

<div>
    Test token: @Token
</div>


@code {
    [SupplyParameterFromForm]
    private LoginDto LoginDto { get; set; } = new LoginDto();

    private string? Token { get; set; }

    public async Task Login12()
    {
        if (LoginDto is not null)
        {
            var tokenResponse = await _dataServerProxy.CheckCredentials(LoginDto);
            Token = tokenResponse?.Token ?? "Invalid response.";
        }
        else
        {
            Token = "Form data is null.";
        }
    }

}